service cloud.firestore {
  match /databases/{database}/documents {
    match /budget/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
    match /categories/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
    match /deductions/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
    match /income/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
    match /outgoing/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid != null;
    }
    match /users/{document=**} {
      allow read, update, delete: if request.auth != null;
      allow create: if request.auth.uid != null;
    }
  }
}